.git
.agents
.venv
.venv_trt
__pycache__
*.pyc
.pytest_cache

cvat
runs
output

dataset
!dataset/vehicle
!dataset/vehicle/videos
!dataset/output_test

yolo*.pt
*.onnx
*.engine

Dockerfile
docker-compose*.yml
test.html
