# ===== ENV =====
.venv/
.venv_trt

# ===== CVAT =====
cvat/

# ===== PYTHON =====
__pycache__/
*.pyc

# ===== YOLO =====
runs/
*.pt

# ===== DATA =====
dataset/

# ===== output ====
output

# === train =====
tools/
train_detect_plate/
train_motorbike/
train_read_plate/
train_vehicle/
test_model.py
test.py


